.iframe {
    min-width: 500px;
    width: 1000px;
    max-width: 100%;
    height: calc(100% - 10px);
    border: none;
}

@media screen and (max-width: 660px) {
    .container {
        display: none;
    }
}